{% extends 'baseLogin.html' %}
{% load static %}
{% block title %}Lấy lại mật khẩu{% endblock title %}
{% block content %}
<div class="container-fluid page-body-wrapper full-page-wrapper">
  <div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
      <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
          <div class="brand-logo">
            <img src="{% static 'images/logo.svg' %}" alt="logo" />
          </div>
          <h4>Xin chào</h4>
          <h6 class="fw-light">
            Hãy đăng nhập để trải nghiệm dịch vụ nào.
          </h6>
          <form
            class="pt-3"
            id="signup-form"
            method="post"
            action="/user/login/"
          >
            {% csrf_token %}
            <div class="form-group">
              <input
                type="text"
                name="username"
                class="form-control form-control-lg"
                id="exampleInputEmail1"
                placeholder="Nhập tài khoản"
              />
              <span class="text-danger" id="error-username"></span>
            </div>
            <div class="form-group">
              <input
                type="password"
                name="password"
                class="form-control form-control-lg"
                id="exampleInputPassword1"
                placeholder="Mật khẩu"
              />
              <span class="text-danger" id="error-pass1"></span>
            </div>
            <div class="mt-3 text-center">
              <button
                class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                type="button"
                id="signup-button"
              >
                Đăng nhập
              </button>
            </div>
            <div class="text-center mt-4 fw-light">
              <a href="/user/resetPassword/" class="text-primary">Quên mật khẩu</a>
            </div>
            <div class="mb-2">
              <div class="text-center mt-4 font-weight-light">
                Bạn chưa có tài khoản? <a href="/user/signup/" class="text-primary">Đăng ký</a>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
</div>
<script src="{% static 'js/hieujs/login.js' %}"></script>
{% endblock content %}
