{% extends 'base.html' %} {% load static %} 
{% block title %}Nâng cấp chi tiết{% endblock title %} 
{% block content %}
<div class="content-wrapper">
  <div class="upgrade-success-page">
    <div class="payment-method">
      <div class="row">
        <div
          class="offset-margin col-lg-12 col-md-8 col-sm-12 col-12 grid-margin stretch-card"
        >
          <div class="card">
            <div class="card-body text-center">
              <h4 class="card-title">
                Cám ơn vì bạn đã đồng ý mua tài khoản nâng cấp của chúng tôi
              </h4>
              <div class="card-description">
                <p>
                  Chúng tôi sẽ kiểm tra thông tin và kích hoạt tài khoản của bạn
                </p>
                <p class="italic text-danger">
                  Bạn hãy đọc rõ hướng dãn dưới đây để xử dụng tài khoản nâng
                  cấp
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="offset-margin col-lg-12 col-md-8 col-sm-12 col-12 grid-margin stretch-card"
        >
          <div class="card">
            <div class="card-body text-center">
              <h4 class="card-title">Hướng dẫn sử dụng chức năng Import</h4>
                <div class="card-description">
                    <p>
                    Bạn có thể import dữ liệu từ file excel bằng cách nhấn vào
                    nút Import ở trong bảng dữ liệu
                    </p>
                    <p>
                    Bạn cần tạo file excel theo mẫu sau: <a
                        href="{% static 'vendors/excel_template.xlsx' %}"
                        download
                        >Tải mẫu</a
                    >
                    </p>
                    <p class="text-danger">
                    Bạn cần chú ý rằng file excel của bạn cần phải đúng định dạng
                    mẫu ("Chú ý rằng mẫu trên là income nếu muốn đổi sang Chi tiêu thì đổi income thành expense")
                    </p>
            </div>
          </div>
        </div>
      </div>

      {% endblock content %}
    </div>
  </div>
</div>
